{% extends 'base.html'%}
{% block title%} products {%endblock%}
{% block content%}


<div class="main">
  <!-- Button trigger modal -->
  <button type="button " class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Products
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Details</h1>
          <button type="button" class="btn-close btn-success" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/add_products" method="POST" name="myform">
            <div class="form_group">
              <label for="product_name" class="form-label">Product Name</label>
              <input type="text" class="form-control" name="product_name" required>
            </div>
            <div class="form_group">
              <label for="buying_price" class="form-label">Buying Price</label>
              <input type="number" class="form-control" name="buying_price" required>
            </div>
            <div class="form_group">
              <label for="selling_price" class="form-label">Selling Price</label>
              <input type="number" class="form-control" name="selling_price" required>
            </div>
            <div class="form_group">
              <label for="stock_quantity" class="form-label">Stock Quantity</label>
              <input type="number" class="form-control" name="stock_quantity" required>
            </div><br>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <table id="myTable" class="display">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">buyingPrice</th>
        <th scope="col">sellingPrice</th>
        <th scope="col">stockQuantity</th>
      </tr>
    </thead>
    <tbody>
      {%for i in prods%}
      <tr>

        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
      </tr>
      {%endfor%}

    </tbody>
  </table>
</div>


{%endblock%}