{% extends 'base.html'%}
{% block title%} sales {%endblock%}
{% block content%}



<div class="main">
  <!-- Button trigger modal -->
  <div class="btn">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Make Sales
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Sales Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/make_sales" method="POST" name="myform">
            <div class="form_group">

              <select name="productid" id="productid" class="form-select" aria-label="Default select example">
                <option>Select product</option>
                {% for i in products %}
                <option value="{{i[0]}}">{{i[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form_group">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" name="quantity" required>
            </div><br>
            <button type="submit" class="btn btn-success">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <table id="myTable" class="display">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">productid</th>
        <th scope="col">quantity</th>
        <th scope="col">created_at</th>
      </tr>
    </thead>
    <tbody>
      {%for i in sals%}
      <tr>

        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
      </tr>
      {%endfor%}


    </tbody>
  </table>
</div>

{%endblock%}